/* reset-mini.css */
*,
*::before,
*::after {
    box-sizing: border-box
}

* {
    margin: 0;
    padding: 0
}

body {
    border-radius: 5px;
    margin: 0;
    padding: 0;
    background-color: #EAEFF5;
    box-sizing: border-box;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%
}

input,
button,
textarea,
select {
    font: inherit
}

ul,
ol {
    list-style: none
}

a {
    text-decoration: none;
    color: inherit
}

table {
    border-collapse: collapse;
    border-spacing: 0
}


body {
    --global-padding: 1rem;
}

/* 竖盒子 */
.flex-column {
    display: flex;
    flex-direction: column;
}

/* 横盒子 */
.flex {
    display: flex;
    /* justify-content: center; */
}

/* 标题 */
.title-home {
    padding: 0.2rem 1rem;
    height: 2rem;
    border-radius: 8px;
    line-height: 100%;
    font-size: 1.1rem;
    font-weight: 700;
    color: #53A3F2;
}

.title-home:hover {
    background-color: #E2F0FF;
    transition: 0.3s ease;
    color: #3275B4;
    cursor: pointer;
}

/* 容器 */
.container-white {
    padding: var(--global-padding);
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, .08);
}

.container-white-blue {
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .08);
    border-radius: 20px;
    background-color: #fff;
    margin: .5rem;
}

.container-blue {
    border-radius: 20px;
    background-color: #E2F0FF;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.08);
}

/* 字体 */
.font-large {
    font-size: 1.25rem;
}

.font-small {
    font-size: 0.8rem;
}

.font-light-blue {
    font-size: 2.5rem;
    color: #3275B4;

}





/* 链接 */
.link {
    font-size: 1.5rem;
    color: #53A3F2;
    text-decoration-line: underline;
    text-decoration-color: #D4EBFF;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.link::before {
    width: 2.5rem;
    height: 100%;
    border-radius: 9999px;
    background-color: #E2F0FF;
}

.bottom-bar {
    padding: 0 1rem 0;
    /* position: fixed;
    bottom: 0; */
    height: 4rem;
    background: #fff;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, .08);
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
    /* 保证在最上层 */
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 1rem;
    /* border-radius: 8px; */
    border-radius: 4px;
    outline: none;
    transition: border-color .2s;
}

.seach:focus {
    border-color: #53A3F2;
    box-shadow: 0 0 0 2px rgba(83, 163, 242, .2);
}